<div class="table-container">

    <table class="task-table">

        <thead>
            <tr>
                <th>TaskId</th>
                <th>Name</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
             <tr *ngIf="taskData.length === 0">
                <td colspan="6" style="text-align:center;">
                No tasks available
                </td>
            </tr>

            <tr *ngFor="let d of taskData" (click)="onTaskClick(d._id)">  
                <td>{{ d.taskId }}</td>
                <td>{{ d.taskName }}</td>
                <td>{{ d.taskStartDate | date:'yyyy-MM-dd'}}</td>
                <td>{{ d.taskDueDate | date:'yyyy-MM-dd'}}</td>
                <td>{{ d.taskStatus }}</td>
            </tr>

        </tbody>

    </table>

</div>